@using Microsoft.AspNetCore.Mvc.Localization
@using Sun.Localization
@using Sun.Pages.Account.Components.ProfileManagementGroup.TwoFactorAuthentication
@inject IHtmlLocalizer<SunResource> L
@model AccountProfileTwoFactorAuthenticationManagementGroupViewComponent.TwoFactorAuthModel


<h4>@L["兩步驟驗證"]</h4>
<hr />
<form id="TwoFactorAuthForm">
    <div class="mb-3">
        @if (Model.IsEnabled)
        {
            <div class="alert alert-success">你已啟用兩步驟驗證。</div>
        }
        else
        {
            <div>
                <p>請使用 Google Authenticator 掃描以下 QR Code：</p>
                <img src="@Model.QrCodeBase64" alt="QR Code for Authenticator" class="img-fluid rounded border" width="150" height="150" />
            </div>
            <div class="mt-3">
                <label for="verification-code" class="form-label">輸入 6 碼驗證碼</label>
                <input id="verification-code" type="text" class="form-control" maxlength="6" />
            </div>
            <div class="mt-3">
                <abp-button type="submit" button-type="Primary" text="啟用驗證" />
            </div>
        }
    </div>

    
</form>






